.nav-section {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #212c42;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  .brand-logo {
    width: 20%;
    h1 {
      font-size: 1.6rem;
      margin: 0;
    }
  }
  .nav-menu {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    div {
      margin-right: 2rem;
      font-size: 1.6rem;
      cursor: pointer;
      color: rgba($color: #fff, $alpha: 0.5);
      &:hover {
        color: #fff;
      }
    }
  }
  .entry-section {
    // border: 1px solid yellow;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    .btn {
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0.8rem 1.6rem;
      cursor: pointer;
      border-radius: 0.2rem;
      margin-left: 0.4rem;
      font-size: 1.4rem;
    }
    .login-btn {
      color: rgba($color: #fff, $alpha: 0.5);
      &:hover {
        color: rgba($color: #fff, $alpha: 1);
      }
    }
    .joinNow-btn {
      background-color: #88cc14;
      &:hover {
        color: #fff;
      }
    }
  }
}
